// Cores do tema escuro
$background-dark: #121821;
$sidebar-dark: #1a1f29;
$card-dark: #202632;
$text-primary-dark: #d3d7de;
$text-secondary-dark: #a0a5af;
$action-color: #b497ff;
$success-color-dark: #58d6a3;

// Cores do tema claro
$background-light: #f9f5f1;
$sidebar-light: #fffff0;
$card-light: #f2ede8;
$text-primary-light: #333333;
$text-secondary-light: #666666;
$success-color-light: #70d2a0;

// Outras cores que podem estar sendo usadas
$gray-medium: #a0a5af; // Para tema escuro (ajuste se necessário para o claro)
$white: #ffffff;