@use '../../assets/scss/variables' as vars;

.page {
  h1 {
    color: vars.$text-primary-dark; // Tema escuro por padrão
    margin-bottom: 1rem;
    height: 100%; // Garante que a página ocupe toda a altura disponível
    width: 100%;
  }

  [data-theme='light'] & {
    h1 {
      color: vars.$text-primary-light; // Tema claro
    }
  }
}