// src/components/templates/DashboardLayout.module.scss
@use '../../assets/scss/variables' as vars; //

.layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg-main-dark); //

  [data-theme='light'] & {
    background-color: var(--bg-main-light); //
  }

  // Quando o Modo Foco está ativo no layout
  &.focusModeActive {
    .main {
      // A área principal (.main) se expande para ocupar toda a largura
      width: 100%;
      max-width: 100vw; // Garante que não ultrapasse a viewport
    }
    // Se você quiser ocultar o título do Header no modo foco, por exemplo:
    // .header .title { // Supondo que .title seja a classe do título no Header.module.scss
    //   display: none;
    // }
  }
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  // A largura será 100% do espaço restante após a Sidebar,
  // ou 100% do layout se a Sidebar estiver oculta.
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5rem; //
}