@use '../../assets/scss/variables' as vars;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  background: vars.$background-dark;
  border-bottom: 1px solid vars.$text-secondary-dark;

  [data-theme='light'] & {
    background: vars.$background-light;
    border-bottom: 1px solid vars.$text-secondary-light;
  }
}

.logo {
  font-size: 2.5rem; // Tamanho menor, já que é só o logo
  font-weight: 700;
  color: vars.$text-primary-dark;

  [data-theme='light'] & {
    color: vars.$text-primary-light;
  }
}

.actions {
  display: flex;
  gap: 1rem;
}